wp-config.php
wp-content/themes/pimentoteca/header.php
wp-content/uploads/
wp-content/cache/
.DS_Store
.htaccess
*.log
*.bak
/vendor
/jogos/avatar/*

# Do not ignore plugins dir, but ignore everything inside
!/wp-content/plugins
/wp-content/plugins/*
